{
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": ["import", "unicorn", "react", "react-hooks"],
    "extends": [
        "react-app",
        "plugin:@typescript-eslint/recommended",
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:unicorn/recommended",
        "prettier/@typescript-eslint",
        "prettier/react",
        "prettier/unicorn",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@root", "./src"],
                    ["@comp", "./src/components"],
                    ["@config", "./src/config"],
                    ["@elem", "./src/elements"],
                    ["@store", "./src/store"],
                    ["@styles", "./src/styles"]
                ],
                "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
            }
        }
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "no-var": "error",
        "prefer-const": "error",
        "curly": "error",
        "no-unused-vars": "off",
        "no-empty": "off",
        "react/prop-types": "off",
        "unicorn/no-reduce": "off",
        "unicorn/no-array-for-each": "off",
        "unicorn/no-array-reduce": "off",
        "react/jsx-uses-react": "error",
        "react-hooks/exhaustive-deps": "error"
    },
    "ignorePatterns": [
        "**/src/react-app-env.d.ts",
        "**/src/styles/*",
        "**/src/service-worker.js",
        "**/plugins/show-hint.js"
    ]
}
