# See https://help.github.com/ignore-files/ for more about ignoring files.

# Firebase
.firebase
firebase-debug.log

# dependencies
/node_modules

# testing
/coverage

# production
/build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.dir-locals.el

# Tmp files
*#

# Search app
search/service-key.json
search/node_modules
dev-database.json
prod-database.json
database.json
service-key-dev.json
service-key-prod.json
