html {
    height: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
}

main {
    position: relative;
    padding: 0;
    min-height: calc(100vh - 40px); /* minus the header height! */
    bottom: 0;
    top: 39px;
}

header {
    height: 38px !important;
}

#golden-layout-top {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
}

div .react-tabs {
    background-color: #222;
    color: #f8f8f2;
}

.react-resizable-handle {
    z-index: 20;
    color: #f8f8f2;
}

.react-grid-item > .react-resizable-handle::after {
    width: 7px;
    height: 7px;
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.react-codemirror2 {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: auto;
    min-height: 100%;
    bottom: 0;
}

.react-codemirror2 > div {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    display: flex;
    padding-top: 12px;
    padding-bottom: 20px;
}

.CodeMirror-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 9;
}

.CodeMirror-vscrollbar {
    overflow: hidden !important;
}

.ps__rail-y {
    z-index: 9;
    opacity: 0.4;
}

.CodeMirror-scroll {
    /* overflow-x: auto!important; */
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    min-height: 100%;
    width: 100%;
    position: static !important;
}

/* .CodeMirror-simplescroll-vertical { */
/*     background: #373a47; */
/* } */

nav,
button {
    outline: none;
}

.MuiToolbar-root {
    max-height: 48px !important;
    min-height: 32px !important;
}

.MuiFileTree .MuiIconButton-root {
    position: absolute;
    right: 24px;
}

.MuiFileTree .MuiListItemIcon-root {
    display: none;
}

.MuiFileTree .MuiListItemText-root {
    width: 90%;
}

.MuiFileTree .MuiButtonBase-root .MuiButton-label {
    position: absolute;
    right: 4px;
}

#project-trees-container .MuiList-padding {
    padding: 0 !important;
}

.tab-panel-controller {
    position: absolute;
    right: 8px;
    top: 5px;
}

.tab-panel-controller button {
    margin-left: 8px;
}
.tab-panel-controller svg {
    color: #373a47;
}

.tab-panel-controller svg:hover {
    color: #f8f8f2;
}

.react-tabs__tab {
    z-index: initial;
}

.layout-pane-primary > div {
    height: 100%;
}

.splitter-layout > .layout-splitter {
    background-color: #696969;
}

.splitter-layout .layout-splitter:hover {
    background-color: #a9a9a9;
}

.console-log-container {
    background: #272822;
    height: 100%;
    width: 100%;
}

.console-log-container pre {
    color: #f8f8f2;
    white-space: pre-wrap;
    padding-left: 6px;
}


// blink eval

@keyframes flash-animation {
    0% { background-color: rgba(255,255,255,0); }
    25%   { background-color: rgba(255,255,255,0.1); }
    100% { background-color: rgba(255,255,255,0); }
}

.blinkEval {
    z-index: 9999999;
    background-color: rgba(255,255,255,0.1);
    transition: 0.1s;
    animation-name: flash-animation;
    animation-duration: 0.1s;
}
